<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head"></head>
<body>
<nav th:replace="base :: navbar"></nav>

    <p th:text="${message}"></p>

    <p sec:authorize="isAuthenticated()">
        Welcome <span th:text="${#authentication.name}"></span> <!--only show when authenticated-->
    </p>

    <p>
        Welcome <span sec:authentication="name"></span> <!--shows name regardless of anonymity-->
    </p>

    <h2>Insecure Page</h2>
    <a href="/userProfile">View Profile</a>

    <!--If the Id of the current user matches the id of the linked
    object in user then it will show. Otherwise it wont -->
<!--    <table>-->
<!--        <tr th:each="course : ${courses}">-->
<!--            <td th:text="${#}"></td>-->
<!--            <td th:text="${#}"></td>-->
<!--            <td th:text="${#}"></td>-->
<!--            <td>-->
<!--                    <span th:if="${user.getId() == course.user.id}">-->
<!--                        <a th:href="@{/update/{id}(id=${course.id})}">Update</a>-->
<!--                        <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a>-->
<!--                    </span>-->
<!--                <a th:href="@{/detail/{id}(id=${course.id})}">Details</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<div th:replace="base :: javascript"></div>
</body>
</html>